:root{
    --text-center: center;
    --primary-color: #1e6f5c;
    --border-button: 2px solid #1e6f5c;
    --padding-button: 10px 20px;
    --radius-button: 5px;
    --margin-auto: 0 auto;
}

body{
    background-color: rgba(240, 255, 255, 0.377);
}
.name{
    font-family: 'Ultra', serif;
    color: var(--primary-color);
}
.hero{
    margin: 50px auto;
   
}
h1{
    text-align: var(--text-center);
    color: var(--primary-color);
    width: 900;
    line-height: 2;
    font-size: 68px;
}
h2{
    text-align: var(--text-center);
    color: var(--primary-color);
}
.my-photo{
    vertical-align: middle;
    margin: 20px auto;
    
}
.introduce{
    display: block;
    margin:var(--margin-auto);
    padding: 10px 50px;
    font-size: 24px;
    width: 400;
}
.check-out-works{
    display: block;
    margin: var(--margin-auto);
    color: white;
    background-color: var(--primary-color);
    border: var(--border-button);
    padding: var(--padding-button);
    border-radius: var(--radius-button);
}