:root{
    --text-center: center;
    --primary-color: #1e6f5c;
    --border-button: 2px solid #1e6f5c;
    --padding-button: 10px 20px;
    --radius-button: 5px;
    --margin-auto: 0 auto;
    --color-hover: rgb(31, 103, 31);
    --transition: all 100ms ease-in-out ;
}

body{
    background-color: rgba(240, 255, 255, 0.059);
}
.name{
    font-family: 'Ultra', serif;
    color: var(--primary-color);
    transition: var(--transition);
}
.name:hover{
    color: var(--color-hover);
    text-decoration: underline;
}
.hero{
    margin: 50px auto;
   padding: 0 100px;
}
h1{
    text-align: var(--text-center);
    color: var(--primary-color);
    width: 900;
    line-height: 2;
    font-size: 68px;
}
h2{
    text-align: var(--text-center);
    color: var(--primary-color);
}
.my-photo{
    vertical-align: middle;
    margin: 20px auto;
    
}
.introduce{
    display: block;
    margin:var(--margin-auto);
    padding: 10px 50px;
    font-size: 20px;
    opacity: 0.9;
    width: 400;
}
.check-out-works{
    display: block;
    margin: var(--margin-auto);
    color: white;
    background-color: var(--primary-color);
    border: var(--border-button);
    padding: var(--padding-button);
    border-radius: var(--radius-button);
    transition: var(--transition);
}
.check-out-works:hover{
    background-color: var(--color-hover);
}
.link-btn{
color: white;
font-weight: 600; 
transition: var(--transition);
}
.link-btn:hover{
   color: white;
    cursor: pointer;  
}
.open-code-link{
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: underline;
    transition: var(--transition);
}
.open-code-link:hover{
    color: var(--color-hover);
    text-decoration: none;
}
i{
    font-size: 30px;
    padding: 0 10px;
    color: var(--primary-color);
    text-decoration: none;
    transition: var(--transition);
}
i:hover{
    color: var(--color-hover);
}
a{
    text-decoration: none;
}


h3{
    color: var(--primary-color);
}
.my-story{
    margin: 50px 250px;
    text-align:var(--text-center);
    font-size: 17px;
    font-weight: 400;
    opacity: 0.9;
}
.technologies-and-tools{
    display: block;
    margin: var(--margin-auto);
    width: 65%;
}
.icon{
    display: block;
    margin: var(--margin-auto);
    max-width: 80px;
    padding: 10px;
}
.works{
margin: 50px auto;
max-width: 75%;
}
.card{
    display: inline-block;
    border: var(--border-button);
    border-radius: var(--radius-button);
    vertical-align: top;
    margin: 10px 8px;
}
.card-body{
    border-top: var(--border-button);
}
h5{
    color: var(--primary-color);
    font-family: 'Ultra', serif;
}
.skill{
    display: inline-block;
    margin: 5px auto;
    border: var(--border-button);
    padding: 7px 14px;
    border-radius: var(--radius-button);
}
.contact-link{
    color: var(--primary-color);
    font-weight: 400;
    text-decoration: underline;
    transition: var(--transition);
}
.contact-link:hover{
    color: var(--color-hover);
    text-decoration: none;
}


@media (max-width: 768px) {
    .hero{
        padding: 0;
    }
    h1{
        font-size: 36px;
        line-height: normal;
        padding: 10px;
    }
    .introduce{
        margin: var(--margin-auto);
        padding: 0;
        font-size: 20px;
    }
    .my-story{
        margin: 20px 5px;
    }
    .card{
        margin:var(--margin-auto);   
        width: 15em;
        margin: 10px 0 auto;
    }
    .card-img-top{
        display: none;
    }
    .bild-with{
        display: none;
    }
   
}
